{
  "prod-UserPool": {
    "UserPoolClientId": "",
    "ExportsOutputFnGetAttUserPoolxxxxxxxxxxxxxxxxxxx": "",
    "UserPoolId": ""
  },
  "prod-WebsocketChat": {
    "GraphQLUrl": "",
    "GraphQLEndpointName": ""
  }
}