{
    "aws_prod_account_id": "111111111111",
    "aws_dev_account_id": "222222222222",
    "aws_deploy_region": "eu-west-1",
    "user_pool_stack": {
        "user_pool_name": "serverless_chat_demo_user_pool",
        "amplify_callback_url": "",
        "amplify_logout_url": "",
        "auth_url": "",
        "custom_domain_certificate_arn": "",
        "notifications_email": "",
        "notifications_email_ses_region": ""
    },
    "websocket_chat_stack": {
        "openai_token_secret_name": "OpenAIToken",
        "openai_token_secret_arn": "arn:aws:secretsmanager:eu-west-1:111111111111:secret:OpenAIToken-t38aLJ"
    },
    "tags": {
        "ProjectName": "serverless_chat_demo"
    }
}